.__button {
  height: 40px;
  border-radius: 12px;
  font-weight: bold;
}
.__button_common {
  color: #191919;
  background-color: #fdcb6e;
}
.__button_cancel {
  color: #191919;
  background-color: #eeeeee;
}
