.__treasure_main_ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.__treasure_list_wrapper {
  position: relative;
  isolation: isolate;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 20px 0 rgba(213, 213, 213, 0.47);
}
.__treasure_list_info_box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 0 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.__treasure_list_title {
  font-size: 18px;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.__treasure_list_user {
  font-size: 14px;
  line-height: 18px;
  color: #636e72;
}
.__treasure_list_reward {
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.__treasure_money_bag_wrapper {
  margin-bottom: -4px;
}
.__treasure_list_timer_wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 100px;
}
