.__modal_check_container {
  width: max-content;
  max-width: calc(100vw - 40px);

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px 40px;
}
.__modal_check_title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  word-break: keep-all;
}
.__modal_check_button_wrapper {
  width: 100%;
  display: flex;
  column-gap: 12px;
}

.__swiper_footer_container {
  width: 100%;
  display: flex;
  margin: 0 12px;
}
.__swiper_footer_image_button_wrapper {
  display: flex;
  column-gap: 8px;
}
.__swiper_footer_image_button {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  overflow: hidden;
}

.__image_wrapper {
  position: relative;
  width: 100vw;
}
.__image_footer_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
