.__map {
  height: 260px;
  border-radius: 20px;
  background-color: rgba(165, 165, 165, 0.1);
}
.__map_small {
  height: 260px;
}
.__map_full_screen {
  height: 100%;
  background-color: #dfe6e9;
}
.__map_full_screen_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
