.__layout_header_container {
  z-index: 2;
  box-sizing: content-box;
  position: fixed;
  top: 0;
  width: calc(100vw - 16px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 8px;
  padding-right: 8px;

  opacity: 0.95;
}

.__layout_header_container_back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.__layout_header_opacity_box {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: content-box;
  z-index: -1;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.__layout_header_opacity_reverse_box {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: content-box;
  z-index: -1;
  width: calc(100vw - 16px);
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__layout_header_opacity_reverse_button_wrapper {
  display: flex;
  column-gap: 8px;
}
.__layout_header_opacity_reverse_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
}

.__layout_header_title {
  font-weight: 500;
}
