.__treasure_detail_header_option_container {
  display: flex;
  column-gap: 8px;
}
.__treasure_detail_header_option_button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
}
