.__comment_list_item_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}
.__comment_list_avatar_info_box {
  display: flex;
  column-gap: 8px;
}
.__comment_list_info_box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.__comment_list_meta_wrapper {
  display: flex;
  column-gap: 4px;
}
.__comment_list_meta_username {
  font-size: 14px;
  font-weight: 500;
}
.__comment_list_meta_created {
  font-size: 14px;
  color: #636e72;
}
.__comment_list_content {
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
}
.__comment_list_add_more_button {
  min-width: 32px;
  height: 32px;
  background-color: #dfe6e9;
  font-size: 13px;
  font-weight: 500;
  color: #636e72;
}
.__comment_list_view_more_button {
  width: fit-content;
  font-size: 13px;
  font-weight: 500;
  color: #636e72;
}

.__comment_list_like_button_wrapper {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.__comment_list_like_button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__comment_list_like_count {
  font-size: 11px;
  color: #636e72;
}
