.__footer_button_container {
  z-index: 2;
  box-sizing: content-box;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 24px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 12px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.__footer_button_next {
  width: 96px;
  height: 40px;
  border-radius: 12px;
  font-weight: bold;
  color: #191919;
  background-color: #fdcb6e;
}

.__footer_button_submit {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  font-weight: bold;
  color: #191919;
  background-color: #fdcb6e;
}
