@use "/src/styles/skeleton.scss" as skeleton;

.__treasure_detail_container {
  padding: 0 12px;
}

/* Common */
.__treasure_detail_common_section {
  padding: 20px 0;
  border-bottom: 1px solid #dfe6e9;
}
.__treasure_detail_common_label {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 12px;
}

/* First-section */
.__treasure_detail_first_section {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 20px 0;
  border-bottom: 1px solid #dfe6e9;
}

.__treasure_detail_title {
  font-size: 24px;
  font-weight: 500;
}

.__treasure_detail_reward {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 500;
}

.__treasure_detail_timer_wrapper {
  display: flex;
  align-items: flex-end;
  column-gap: 6px;
  color: #2d3436;
}
.__treasure_detail_timer {
  font-size: 18px;
  font-weight: 500;
}

.__treasure_detail_distance_wrapper {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
  font-size: 14px;
  color: #636e72;
}

/* User */
.__treasure_detail_user_wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.__treasure_detail_user_avatar {
  isolation: isolate;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.__treasure_detail_user {
  font-size: 16px;
  font-weight: 300;
}

/* Map */
.__treasure_detail_map {
  height: 260px;
  border-radius: 20px;
  background-color: #dfe6e9;
}

/* Last-section */
.__treasure_detail_last_section {
  padding: 20px 0;
}
.__treasure_detail_comment_null {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fallback */
.__treasure_detail_fallback_image {
  @include skeleton.skeleton_mixin;
  height: 300px;
}
.__treasure_detail_fallback_title {
  @include skeleton.skeleton_mixin;
  width: 80%;
  height: 24px;
}
.__treasure_detail_fallback_reward {
  @include skeleton.skeleton_mixin;
  width: 100px;
  height: 20px;
}

.__treasure_detail_fallback_timer_wrapper {
  @include skeleton.skeleton_mixin;
  width: 260px;
  height: 18px;
}
.__treasure_detail_fallback_distance {
  @include skeleton.skeleton_mixin;
  width: 200px;
  height: 16px;
}
.__treasure_detail_fallback_avatar {
  @include skeleton.skeleton_mixin;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.__treasure_detail_fallback_user {
  @include skeleton.skeleton_mixin;
  height: 16px;
  width: 140px;
}
.__treasure_detail_fallback_label {
  @include skeleton.skeleton_mixin;
  height: 22px;
  width: 100px;
  margin-bottom: 12px;
}
.__treasure_detail_fallback_hint {
  @include skeleton.skeleton_mixin;
  height: 16px;
  width: 200px;
}
